TF_Content: |-
  #!/bin/sh

  terraform init
  terraform apply --auto-approve
  kubectl get ns
TF_Repo:
  key: voting_app
  title: SakshiParasar/voting_app
  owner: SakshiParasar
  default_branch: ingress
  id: 498699615
TF_Branch: ingress
TF_Git_path: .github
TF_Uninstall: |-
  #!/bin/sh

  terraform destroy
lastUpdatedBy: Sakshi Parashar
lastUpdatedOn: 2022-09-05T06:59:21.658Z
